body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f8;
    color: #222;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #111827;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.logo {
    color: #38bdf8;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #2563eb, #1e40af);
    color: white;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: white;
    color: #1e40af;
    text-decoration: none;
    border-radius: 25px;
}

.page {
    padding: 40px;
}

.project-card {
    background: white;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.skill-grid span {
    background: #e0f2fe;
    padding: 8px 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 20px;
}
